body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin: 10px;
}

button {
    width: 325px;
    margin: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#searchResults {
    margin-top: 15px;
    padding: 15px;
}
